<li>
	{{burgers_name}}
	<br>

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}EAT DA BURGER!{{else}}BURGER HAS BEEN DEVOURED{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE</button>
</li>